:root {
  --background-color: #16161a;
  --navbar-color: #111111;
  --correct-guess: #38A169;
  --incorrect-guess: #E53E3E;
  --navbar-color-2: #808080;
  --gray-700: #2D3748;
  --gray-600: #4A5568;
  --select-hovered: #666666;
}

.App {
  min-height: calc(100vh);
  height: 100%;
  width: calc(100vw);
  color: white;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}