:root {
  --background-color: #313131;
}

.App {
  min-height: calc(100vh);
  height: 100%;
  color: white;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}